<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理<small>检查组管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>检查组管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="编码/名称/助记码" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="code" label="检查组编码" align="center"></el-table-column>
                <el-table-column prop="name" label="检查组名称" align="center"></el-table-column>
                <el-table-column label="适用性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="helpCode" label="助记码" align="center"></el-table-column>
                <el-table-column prop="remark" label="说明" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增检查组" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="编码">
                                                <el-input v-model="formData.code"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="适用性别">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="助记码">
                                                <el-input v-model="formData.helpCode"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="说明">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="注意事项">
                                                <el-input v-model="formData.attention" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="检查项信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>项目编码</th>
                                            <th>项目名称</th>
                                            <th>项目说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.code}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查组" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="编码">
                                                <el-input v-model="formData.code"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="名称">
                                                <el-input v-model="formData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="适用性别">
                                                <el-select v-model="formData.sex">
                                                    <el-option label="不限" value="0"></el-option>
                                                    <el-option label="男" value="1"></el-option>
                                                    <el-option label="女" value="2"></el-option>
                                                </el-select>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="助记码">
                                                <el-input v-model="formData.helpCode"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="说明">
                                                <el-input v-model="formData.remark" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="注意事项">
                                                <el-input v-model="formData.attention" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>
                            <el-tab-pane label="检查项信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>项目编码</th>
                                            <th>项目名称</th>
                                            <th>项目说明</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in tableData">
                                            <td>
                                                <input :id="c.id" v-model="checkitemIds" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.code}}</label></td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.remark}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的总记录数
                total: 100,//总记录数
                queryString: null,//查询的条件
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//新增和编辑表单中对应的检查项列表数据
            checkitemIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false//控制编辑窗口显示/隐藏
        },
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
            },
            //添加取消
            handleAddCancel(){
                this.dialogFormVisible=false;
                this.resetForm();
            },

            //添加
            handleAdd() {

                /*
                    1. 提交的参数
                        1.1 检查组包含两个部分的内容，检查组的基本信息， 检查组用到了哪些检查项
                        1.2 基本信息：
                */
                console.log("表单的基本数据");
                console.log(this.formData);

                console.log("检查项的数据");
                console.log(this.checkitemIds);

                /*
      2. 提交请求
          2.1 请求地址还好说，请求参数不太好写。
          2.2 需要提交两个参数： 检查组的基本信息 & 检查项的数据
          2.3 检查组的基本信息是一个json数据， 后台也有一个JavaBean与之对应 CheckGroup
          2.4 检查项的数据只是一个数组， 里面只有数字。 [28,29,30] , 后台没有什么JavaBean与之对应

      3. 怎么提交呢？ 有两种办法：
          3.1 写一个更大的json 手动封装这两个数据，然后在后台使用map集合|更大的javaBean来接受这两个数据
              var params = {"基本信息": this.formData , "检查项信息" : this.checkitemIds}
          3.2 可以使用拼接的方式， 一个数据拼接到地址上，一个数据放在参数的位置上。
              地址上：this.checkitemIds
              参数位置：this.formData
   */


                axios.post("/checkgroup/" + this.checkitemIds + ".do", this.formData).then(response => {
                    console.log("添加结果");
                    console.log(response);

                    if (response.data.flag) {

                        //1.弹出提示
                        this.$message.success(response.data.message);

                        //2.让对话框消失
                        this.dialogFormVisible = false;

                        //刷新页面
                        this.findPage();

                        //重置表单
                        this.resetForm();
                    }else {
                        this.$message.error(response.data.message);
                        this.dialogFormVisible=false;
                    }

                });

            },
            //分页查询
            findPage() {
                //1.查询参数
                console.log("分页查询的参数:");
                console.log(this.pagination);

                var data=encodeURIComponent(JSON.stringify(this.pagination));
                console.log(data);

                var  data2=encodeURIComponent("/1/10");
                console.log(data2);

                /*
        2. 发请求
            2.1 get请求携带参数有两种写法：
                1. 在地址上使用?的形式拼接
                2.  写在参数的位置上也可以，但是它还需要一个特定的格式：
                {params:{username:'admin', password:'123456'}}

            2.2 由于我们使用了RestFul风格来写代码。那么在这里提交数据的时候。
                a. 我们不是采用post请求提交的，而是采用get请求提交的。
                b. get请求的提交有一个特点，数据会全部拼接到地址栏上。
                c. 那么这份数据提交到后台就不会以json的数据格式提交，
      */


                axios.get("/checkgroup.do",{params:this.pagination}).then(response=>{
                    console.log("分页查询你结果");
                    console.log(response);

                    if (response.data.flag){

                        //设置总记录数
                        this.pagination.total=response.data.data.total;

                        //设置当前页数的集合
                        this.dataList=response.data.data.rows;
                    }
                });


            },
            // 重置表单
            resetForm() {

                //1.重置检查组的基本信息
                this.formData = {};

                //2.重置检查项选中的基本信息
                this.checkitemIds = [];

                //3.重置选项卡选中的效果,默认选中基本信息
                this.activeName = 'first';
            },
            // 弹出添加窗口
            handleCreate() {
                //this.resetForm();

                //让新增检查组的对话框展示出来
                this.dialogFormVisible = true;

                //2. 要把所有的检查项给查询出来，放到对话框的第二个选项卡上显示，供检查组使用。
                /*
                    a. 这个动作查询的是检查项的表，是做检查项的查询工作
                    b. 我们应该秉承 高内聚的思想，让所有属于同一个模块的东西（代码）放在同一个类|文件中
                    c. 虽然我们现在的这个网页位置是 检查组的网页，但是检查组的网页里面发出来的请求
                        不是说，只能发给自己的controller，也可以发给其他的controller。
                    d. 想一个极端的情况：
                        如果我们把这个查询所有检查项的工作（代码）写在检查组的Controller里面。
                        如果还有其他的模块，也需要查询所有的检查项，那么是不是他们也要写自己的一套代码呢？
                 */

                axios.get("/checkItem/checkItem.do").then(response => {
                    console.log("查询所有的检查项");
                    console.log(response);
                    if (response.data.flag) {
                        //检查项的显示,是有tableData控制的,他们只需把查询到的集合数据赋值给这个tableData即可
                        this.tableData = response.data.data;
                    } else {
                        this.$message.error("查询所有检查项失败");
                    }
                });
            },
            // 弹出编辑窗口
            handleUpdate(row) {
            },
            //切换页码
            handleCurrentChange(currentPage) {
                //currentPage 为切换后的页码
                this.pagination.currentPage=currentPage;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
            }
        }
    })
</script>
</html>
