<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>预约管理<small>检查项管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>预约管理</el-breadcrumb-item>
            <el-breadcrumb-item>检查项管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="项目编码/项目名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="code" label="项目编码" align="center"></el-table-column>
                <el-table-column prop="name" label="项目名称" align="center"></el-table-column>
                <el-table-column label="适用性别" align="center">
                    <template slot-scope="scope">
                        <span>{{ scope.row.sex == '0' ? '不限' : scope.row.sex == '1' ? '男' : '女'}}</span>
                    </template>
                </el-table-column>
                <el-table-column prop="age" label="适用年龄" align="center"></el-table-column>
                <el-table-column prop="remark" label="项目说明" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增检查项" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编码" prop="code">
                                    <el-input v-model="formData.code"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.sex">
                                        <el-option label="不限" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                        <el-option label="女" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="适用年龄">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="类型">
                                    <el-select v-model="formData.type">
                                        <el-option label="检查" value="1"></el-option>
                                        <el-option label="检验" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="价格">
                                    <el-input v-model="formData.price"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="项目说明">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="注意事项">
                                    <el-input v-model="formData.attention" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑检查项" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="项目编码" prop="code">
                                    <el-input v-model="formData.code"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="项目名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="性别">
                                    <el-select v-model="formData.sex">
                                        <el-option label="不限" value="0"></el-option>
                                        <el-option label="男" value="1"></el-option>
                                        <el-option label="女" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="适用年龄">
                                    <el-input v-model="formData.age"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="类型">
                                    <el-select v-model="formData.type">
                                        <el-option label="检查" value="1"></el-option>
                                        <el-option label="检验" value="2"></el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="价格">
                                    <el-input v-model="formData.price"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="项目说明">
                                    <el-input v-model="formData.remark" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="注意事项">
                                    <el-input v-model="formData.attention" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="../js/vue.js"></script>
<script src="../plugins/elementui/index.js"></script>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize: 10,//每页显示的记录数
                total: 0,//总记录数
                queryString: null//查询条件
            },
            dataList: [],//当前页要展示的分页列表数据
            formData: {},//表单数据
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit: false,//编辑表单是否可见
            rules: {//校验规则
                code: [{required: true, message: '项目编码为必填项', trigger: 'blur'}],
                name: [{required: true, message: '项目名称为必填项', trigger: 'blur'}]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {

                console.log("提交的参数: ");
                console.log(this.formData);

                //发送请求,提交数据给后台,完成更新的操作
                axios.post("/checkItem/update.do",this.formData).then(response=>{
                    console.log("更新结果: ");
                    console.log(response);
                    if (response.data.flag){

                        //1.提示
                        this.$message.success(response.data.message);

                        //2.让对画画框消失
                        this.dialogFormVisible4Edit=false;

                        //刷新页面
                        this.findPage();
                    }else {
                        this.$message.error(response.data.message);
                        this.dialogFormVisible4Edit=false;
                    }
                });

            },
            //添加
            handleAdd() {
                /*
                   校验数据，如果校验通过了，我们就发请求到后台去。
                       1. 使用$refs[] 来找到form表单
                       2. 调用validate方法来进行校验 ， 校验的规则在vue对象里面定义的rules里面
                       3. 校验成功即为true, 校验失败即为false, 它使用valid这个字段来接收校验结果

                */
                this.$refs['dataAddForm'].validate((valid) => {
                    if (valid) {
                        //准备提交数据
                        console.log("新增检查项的参数: ");
                        console.log(this.formData);

                        //发请求
                        axios.post("/checkItem/add.do", this.formData).then(response => {
                            console.log("结果: ");
                            console.log(response);
                            if (response.data.flag) {
                                //让对话框消失
                                this.dialogFormVisible = false;

                                //添加成功之后,就要查询最新的数据出来显示啦
                                this.findPage();
                                this.$message.success(response.data.message);
                            } else {
                                this.$message.error(response.data.message);
                            }


                        });

                    }
                });

            },
            //分页查询
            findPage() {
                //1. 准备提交的参数
                console.log("分页请求提交的参数：");
                console.log(this.pagination);

                /*
                    2. 发请求。
                        this.pagination,这是提交的参数，里面包含了：
                            a. currentPage : 当前页
                            b. pageSize :  每页个数
                            c. queryString: 查询条件 ,比如查询： 包含"视力"的检查项

                            它里面还包含了一个叫做： total的属性，这个主要是为了在展示分页数据的时候
                             告诉elementUI，我们的总记录数有多少条。

                 */
                axios.post("/checkItem/findPage.do", this.pagination).then(response => {
                    console.log("分页查询结果：");
                    console.log(response);

                    /*
                        response表示了这次请求的响应信息，里面包含很多的内容，其实data才是我们需要的东西。
                        data长这样：  {data: {…}, flag: true, message: "查询检查项成功"}
                     */
                    if (response.data.flag) { //表示成功了。

                        //1. 先来一个提示框看看效果
                        this.$message.success(response.data.message);

                        //2. 给页面设置结果：设置总记录数 和 当前页的集合数据
                        //2.1 设置总记录数是多少条
                        this.pagination.total = response.data.data.total;

                        //2.2 设置当前页的集合数据
                        this.dataList = response.data.data.rows;

                    } else {
                        this.$message.error(response.data.message);
                    }

                });

            },
            // 重置表单
            resetForm() {
                this.formData = {};
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible = true;
            },
            // 弹出编辑窗口
            handleUpdate(row) {

                //1. 弹出编辑的对话框
                this.dialogFormVisible4Edit = true;
                console.log(row);

                //2. 把点击的这条记录的数据放到对话框里面回显。
                //2.1  必须持有现在点击的这条记录的数据：row
                //2.2  怎么把这个数据row 放到我们的对话框里面去显示呢？

                /*
                    问题：
                        1. 如果是这样写代码进行数据的回显，那么修改弹出的更新对话框的内容，背后的行的数据也跟着改变
                    原因：
                        2. 原因是这两个对象使用的是同一个地址，其实他们根本不是两个对象，而是同一个对象！
                        3. 这个formData 和 row 指向的是同一个位置。
                    解决：
                        4. 要想解决这个问题，很容易：让formData有自己的空间，有自己的区域，存放同样的数据。
                */
                //this.formData = row;

                //最原始的办法就是：
                /*this.formData = {
                    age : row.age,
                    name : row.name,
                    price :row.price,
                    remark:row.remark,
                    code : row.code
                };*/
                /*
                    高级的玩法是这样：
                        1. JSON.stringify(row) ,就是把row转成json格式的字符串
                        2. JSON.parse(字符串) ， 把刚才的json字符串，变成json对象
                        3. 这样一来一回的作用，目的就是为了构建自己的对象，有了自己内存空间。
                 */
                this.formData = JSON.parse(JSON.stringify(row));

            },
            //切换页码
            handleCurrentChange(currentPage) {
                //currentPage为切换后的页码
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            // 删除

            handleDelete(row) {
                /*
                        1. 弹窗口询问确认要删除吗？ confirm(""), 笔记， 百度， elementui官网 ，
                        2. 真的点击了确认，那么就发请求，
                        3. 发请求的时候要把id传递给后台。
                     */

                this.$confirm('确认删除该检查项吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {

                    //发请求 ， 传递id ... 点击哪个条目，就给哪个条目的id值。
                    console.log(row);

                    // 当我们传递的数据很简单，只是一个单一的数字而已，那么其实没有必要使用post请求+参数的写法
                    //直接把参数拼接到地址上即可。 /checkItem/delete.do?id=3
                    axios.get("/checkItem/delete.do?id=" + row.id).then(response => {
                        console.log("删除结果：");
                        console.log(response);
                        if (response.data.flag) {
                            //1. 给提示
                            this.$message.success(response.data.message);

                            //2. 重新刷新页面，
                            this.findPage();
                        } else {
                            this.$message.error(response.data.message);
                        }
                    });

                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        }
    });
</script>
</html>